<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-12">
      <app-shopping-list (onDelete)="onCartDeleteItem($event)"></app-shopping-list>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-3"><app-login-form></app-login-form></div>
  </div> -->

  <!-- <div [ngSwitch]="productCategories">
    <div *ngSwitchCase="'car'">This is the car catergory</div>
    <div *ngSwitchCase="'phone'">This is the phone catergory</div>
    <div *ngSwitchCase="'television'">This is the television catergory</div>
    <div *ngSwitchCase="'laptop'">This is the laptop catergory</div>
    <div *ngSwitchDefault>This is the default catergory</div>
  </div>

  <div [ngStyle]="textStyle" [ngClass]="textClass">
    {{ dummyContent | uppercase | lowercase}}
    {{currentTime | date : "yyyy YY"}}
  </div>
 
  <button (click)="increaseFontSize()">+1</button>
  <button (click)="decreaseFontSize()">-1</button>
  <button (click)="makeRegular()">R</button>
  <button (click)="makeBold()"><strong>B</strong></button>
  <button (click)="makeItalic()"><em>I</em></button>

  <div>
    {{dummyContent | reverse}}
  </div> -->

  <div class="row">
    <!-- <div class="col-9">
      <app-products-listing (onSelect)="onProductSelect($event)" [products]="latestProducts" [color]="'black'">
      </app-products-listing>
    </div> -->
    <!-- <input [(ngModel)]="searchText" />
    <div class="col-9">
      <ul>
        <li *ngFor="let product of itemsInCart | productfilter : searchText">
          {{product.name}}
        </li>
      </ul>
    </div> -->

    <!-- {{randomNumber}} -->

    <!-- <button (click)="showRandomNumber()">Update</button>
    <button (click)="changeProductName(0)">Change product 1 name</button> -->


  </div>
</div>

<!-- ---------- Top Products
<app-products-listing [products]="topProducts"></app-products-listing> -->
<app-footer></app-footer>
